  <!-- ======= Footer ======= -->
  <footer id="footer">
<!--
    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>
-->
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>CHYN</h3>
            <p>
              Centre d'Hydrogéologie et Géothermie <br>
              2000, Neuchâtel <br>
              Switzerland <br><br>
              <strong>Phone:</strong> +41 32 718 26 00<br>
              <strong>Email:</strong> chyn@unine.ch<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#interactiveMapSection">Interactive Map</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#dataVisuSection">Data Visualisation</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.unine.ch/chyn/home/formation.html">Formation</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.unine.ch/chyn/home/laboratoires.html">Laboratories</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.unine.ch/chyn/home/equipement.html">Equipment</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.unine.ch/chyn/home/emploi-1.html">Jobs</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Follow us on our social network if you want to be up-to-date with our latest discoveries</p>
            <div class="social-links mt-3">
              <a href="https://www.unine.ch/chyn/home.html" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.unine.ch/chyn/home.html" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.unine.ch/chyn/home.html" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="https://www.unine.ch/chyn/home.html" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="https://www.unine.ch/chyn/home.html" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Arsha</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->