{% extends "base.html" %}

{% block content %}
    <h1>ArchPy Geoportal</h1>

    This is an online geoportal for geological simulation. 

    {% if not current_user.is_anonymous %}
        <p>
            {% if submissions|length > 0 %}
                <ul>
                    {% for submission in submissions %}
                        <li> {{ submission }} </li>
                    {% endfor %}
                </ul>
            {% else %}
                <i> No jobs were submitted </i>
            {% endif %}
        </p>

        <p>
            You can submit jobs <a href="{{ url_for('model') }}">here</a>.
        </p>
    {% else %}
        <p>
            Please <a href="{{ url_for('login') }}">login</a> or <a href="{{ url_for('register') }}">register</a> to be able to submit models.
        </p>
    {% endif %}
{% endblock %}