{% extends "base.html" %}

{% block content %}

<section id="dataVisuSection" class="dataVisualization">
  <div class="container">
    <div id="noInputData">
      <div class="section-title">
        <h2>Data 3D responsive graph visualization</h2>
        <p>Based on your previous selection and filtering, here is your output model data. You can hold the left click and drag the mouse left, right, up or down to rotate the graph. Do the same operation with the right click and you will move the whole graph from one side to another.</p>
      </div>
    </div>
      
    <center>
      {{ plot | safe }}

      <div>
        <a href="{{ url_for('download', id=submission.id) }}">Download</a>
      </div>

    </center>

    <div>
      Realization
      {% for i in range(realizations) %}
        {% if i == realization_id %}
          <b><a href="{{ url_for('view', id=submission.id, realization_id=i) }}"> {{ i }} </a></b></li>
        {% else %}
          <li><a href="{{ url_for('view', id=submission.id, realization_id=i) }}"> {{ i }} </a></li>
        {% endif %}
      
      {% endfor %}
    </div>

  </div>
</section>


{% endblock %}